.Header nav{
  background-color: hsla(281, 86%, 28%, 1);
  width: 100%;
}

.Header h1 {
  font-family: "Red Hat Text", sans-serif;
  color: #ffffff;
  text-shadow: 0px 0px 2px #ffffff;
  background-color: hsla(276, 100%, 15%, 1);
  margin: 0px;
  padding: .5rem;

  
}

.active,
.inactive {
  
  padding-left: 3rem;
  padding-right: 3rem;
  text-decoration: none;
}

.inactive:hover {
  color: rgb(255, 194, 230);
  text-shadow: 0px 0px 2px rgb(255, 133, 204);
}

.inactive {
  color: #cbcbcb;
}
.active {
  color: #ffffff;
  text-shadow: 0px 0px 2px #ffffff;
}

.BottomBorder{
  background-color: #ee6c4d;
  height: 8px;
}